
<form method="POST" action="/foodbanks/<%=@foodbank.id%>">
  <input type="hidden" name="_method" value="patch">
  
  <label>Change foodbank name?: </label>
  <input type="text" name="name">  
  <br><br><br>
  
  <h3>Change days available for pickup</h3>
  <%Day.all.each do |d| %>
    <input type="checkbox" name="days[]" value="<%=d.id%>" id="<%=d.name%>" <%='checked' if @foodbank.days.include?(d)%>>
    <label for="<%d.name%>"><%=d.name%></label>
  <% end %>
  <br>
  <input type="submit" value="edit">

</form>